//sidebar
$menuBg: #2C2C2E;

//page
$themeColor: #2C2C2E;
$lightThemeColor: #282828;
$darkThemeColor: #282828;
$bgColor: #F7F7F9;
$lightFontColor: #D8D8D8;

//business
$fontColorTitle: #4A4A4A;
$fontColorXs: #9B9B9B;
